form {
	/* background: #F3F5F7/; */
	width: 100%;
	margin: 0px auto;
	padding: 1rem 3rem 0rem 3rem;
	border-radius: 5px;
}

h1 {
	text-align: center;
	margin-bottom: 2rem;
}

.field-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

label {
	margin-bottom: 8px;
	color: #425163;
	font-weight: 600;
}

input,
select,
textarea {
	border: 2px solid #e1e1e1;
	border-radius: 6px;
	padding: 8px 10px;
	color: #777;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
	border-color: #007cc2;
}

input.has-error,
select.has-error,
textarea.has-error {
	border-color: #f26969;
}

.error,
.errormb,
.errorc,
.errorct,
.errorml,
.errorms,
.texterror,
.errormss {
	color: #f26969;
	font-weight: bold;
	font-size: 0.9em;
	display: block;
	text-align: left;
	margin-top: 5px;
}
.texterror {
	width: 14rem;
}

.src,
.inds {
	display: none;
}

.des {
	display: block;
}

.pos-3 {
	position: relative;
	top: 37%;
}
.btn.btn-primary:disabled {
	background-color: #d1d1d1;
	border: 1px solid #d1d1d1;
}
